{% extends "index.html" %}

{% block content %}

    <table class="table table-striped table-hover">
    	<caption>Ratio de ofertas de empleo por desempleado (provincial)</caption>
    	<thead>
    		<tr>
    			<th>Provincia</th>
    			<th>Ofertas de empleo</th>
    			<th>Desempleados</th>
    			<th>%</th>
    		</tr>
    	</thead>
    {% for city in cities %}
    	<tr><td><i>{{ city.city }}</i></td>
    		<td>{{ city.jobs }}</td>
    		<td>{{ city.nonworking }}</td>
    		<td>{{ (city.jobs/city.nonworking)*100 }}%</td>
    	</tr>
    {% endfor %}
	</table>


{% endblock %}